/* discordbanner.css */

.discord-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px; /* Adjust as needed */
}

.discord-banner a img {
  max-width: 100%;
  border-radius: 20px;
}
