/* styles.css */

/* Default styles for larger screens */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Upheavtt", sans-serif;
}
@font-face {
  font-family: "Upheavtt";
  src: url("M:/Code Projects/duck-paradox-website/fonts/upheavtt-webfont.woff2")
      format("woff2"),
    url("M:/Code Projects/duck-paradox-website/fonts/upheavtt-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("M:/Code Projects/duck-paradox-website/img/duckparadox_background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  filter: blur(50px); /* Adjust the blur amount as needed */
  z-index: -1;
}
.main-width {
  width: 1500px;
  max-width: 100%;
  margin: 0 auto;
}
.header-wrapper {
  height: 100%;
  width: 100%;
  min-height: 1vh;
  background: linear-gradient(#b86cc7, 99%, #402751);
  position: relative;
}
.logo {
  text-align: left;
  margin-right: auto;
}

.logo img {
  max-width: 50%;
  width: 100px;
  height: auto; /* Maintain aspect ratio */
  border-radius: 50%;
  border: 1px solid black;
}
.header-wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

nav ul li {
  margin-left: 10px; /* Adjust the margin */
}

nav ul li.btn {
  margin-left: 20px; /* Adjust the margin for buttons */
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
  padding: 5px 10px; /* Adjust padding */
}
.nav-btn {
  display: inline-block;
  margin-left: 20px;
}

nav ul li.btn a {
  background: white;
  color: black;
  border: 1px solid black;
  padding: 5px 15px;
  border-radius: 30px;
  line-height: 1.4;
  font-weight: 500;
  margin-left: auto;
}

.landing-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}
.landing-left,
.landing-right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header-title {
  text-align: left !important;
  font-size: 24px; /* Adjust the font size as needed */
  margin-right: 750px; /* Adjust the spacing between the logo and title */
  color: white; /* Set the color of the title */
}

.landing-teaser {
  flex: 1;
  margin-left: 80px;
  margin-bottom: 20px;
}
.landing-teaser img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.landing-right .landing-teaser img {
  max-width: 100%;
  width: 100%;
  max-height: none;
}
.steam-component {
  width: 100%;
  max-width: 100%;
  padding-left: 80px;
}
/* Default styles for larger screens */

@media only screen and (max-width: 768px) {
  .landing-content {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center; /* Center items */
  }

  .landing-left,
  .landing-right {
    max-width: 100%;
    text-align: center; /* Center text */
  }

  .landing-title {
    font-size: 40px; /* Adjust font size for smaller screens */
  }

  .landing-teaser {
    margin: 20px 0; /* Add space around teaser */
  }

  .steam-component {
    padding-left: 0; /* Remove padding on smaller screens */
    max-width: 100%; /* Allow Steam component to take full width */
  }
}
