/* youtube.css */

.video-container {
  margin: 0 auto;
  text-align: center;
  width: 800px;
  height: 450px;
  margin-bottom: 20px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.video-title {
  text-align: center;
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
  -webkit-text-stroke: 1px black;
  display: inline-block;
}
